---
layout: default
---

<style>

p {
  margin-top: 0;
  margin-bottom: 1em; /* space below paragraph */
}

.flex-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.image-block, .text-block {
  flex: 1 1 40%;
  max-width: 45%;
}

.text-block {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center; /* This vertically centers the text */
}

.image-block img {
  width: 100%;
  height: auto;
  display: block;
}

/* Stack on small screens */
@media (max-width: 768px) {
  .image-block, .text-block {
    max-width: 100%;
    flex: 1 1 100%;
  }
}


</style>

{{ content }}