---
layout: default
---

<style>
/* body {
    text-align: left;
} */
.image-block, .text-block {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin: 1%;
}

.image-block img {
  width: 100%;
  height: auto;
  display: block;
}

/* Stack on small screens */
@media (max-width: 768px) {
  .image-block, .text-block {
    display: block;
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .image-block {
    order: -1; /* Not necessary here, but harmless */
  }
}


</style>

{{ content }}