---
layout: default
---

<style>
body {
    text-align: left;
}
.container {
  max-width: 700px;      /* max width you want */
  margin: 0 auto;        /* centers the container horizontally */
  padding: 1rem 1rem;    /* some inner padding */
  box-sizing: border-box; /* includes padding in width */

  display: flex;
  flex-direction: row; /* Image on the right */
  align-items: flex-start; /* Text aligned to top */
  gap: 1rem; /* space between text and image */
}

.image-block {
  order: 2; /* image second */
  width: 40%; /* or whatever size you want */
}

.text-block {
  order: 1; /* text first */
  width: 60%;
  text-align: left;
}

/* On narrow screens, stack vertically with image on top */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .image-block {
    order: 1; /* image first */
    width: 100%;
  }
  .text-block {
    order: 2; /* text second */
    width: 100%;
  }
}


</style>
<body>
  <div class="container">
    {{ content }}
  </div>
</body>

